<div class="narrow_nav_screen">
    <img class="nav_close_icon" src="{{ '/assets/images/nav_close_icon.png' | relative_url }}">
    <div class="nav_icon">
        <div class="{% if page.icon == 'lookbook' %}selected{% endif %}"><a href="/">LOOKBOOK</a></div>
        <div><a href="">SHOP</a></div>
        <div class="{% if page.icon == 'brand' %}selected{% endif %}"><a href="/brand">BRAND</a></div>
        <div class="{% if page.icon == 'contact' %}selected{% endif %}"><a href="/contact">CONTACT</a></div>
    </div>
    <div class="nav_line">
        <hr>
    </div>
    <div class="sns_link">
        <a href="https://www.instagram.com/{{ site.oea.sns.instagram }}">
            <div>See our day-to-day</div>
            <hr>
            <div>on <span>Instagram</span></div>
            <hr>
        </a>
    </div>
</div>

