<div class="wide_sns_link">
    <a href="https://www.instagram.com/{{ site.oea.sns.instagram }}">
        <img class="icon" src="{{ '/assets/images/instagram.png' | relative_url }}">
    </a>
    <a href="https://www.facebook.com/{{ site.oea.sns.facebook }}">
        <img class="icon" src="{{ '/assets/images/facebook.png' | relative_url }}">
    </a>
    <a href="https://blog.naver.com/{{ site.oea.sns.naver }}">
        <img class="icon" src="{{ '/assets/images/naver.png' | relative_url }}">
    </a>
    <a href="https://www.pinterest.com/{{ site.oea.sns.pinterest }}">
        <img class="icon" src="{{ '/assets/images/pinterest.png' | relative_url }}">
    </a>
</div>
