.narrow_nav_icon{
    position: fixed;
    background-color: $point-color;
    bottom: $narrow-bottom;
    right: $narrow-right;
    width: 90px;
    height: 90px;
    font-family: $header-font;
    font-size: 30px;
    border-radius: 45px;
    z-index: 55;
    color: $light-color;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0, 0.1);
    display: none;

    @media screen and (max-width: $middle-width) {
        display: flex;
    }
}

.narrow_nav_icon:hover{
    cursor: pointer;
}