@charset "utf-8";

@font-face {
    font-family: 'mont-heavy';
    src : url('/assets/font/Mont-HeavyDEMO.otf') format('opentype');
}
@font-face {
    font-family: 'mont-light';
    src : url('/assets/font/Mont-ExtraLightDEMO.otf') format('opentype');
}
@font-face {
    font-family: 'open-sans-bold';
    src: url('/assets/font/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'noto-sans-cjk-kr';
    src: url('/assets/font/NotoSansCJKkr-Bold.otf');
}

$point-color:            #00FFA2 !default;
$light-color:            #FFFFFF !default;
$base-color:             #CCCCCC !default;
$dark-color:             #0000004D !default;

$background-color:       #E5E5E5 !default;

$header-font: mont-heavy;
$sub-font: open-sans-bold;
$contents-font: noto-sans-cjk-kr;

/* wide: computer mode  */

$wide-top: 40px;
$wide-left: 55px;
$wide-right: 55px;
$wide-bottom: 50px;

$narrow-top: 40px;
$narrow-bottom: 40px;
$narrow-right: 40px;
$narrow-left: 40px;

/* 화면 변환 기준 */
$wide-width: 1300px;
$middle-width: 900px;
$narrow-width: 700px;