---
layout: default
---

<link rel="stylesheet" href="{{ "/assets/css/brand.css" | relative_url }}">

<div class="brand_contents">
    <img class="brand_bar" src="/assets/images/brand_bar.png">

    {%- include circular_rotation_logo.html -%}

    <div class="contents">
        <div class="contents-en">
            We are a brand created to design and create <br>
            perspectives. We focus on the nature of products <br>
            and services that are affecting our lives.
        </div>
    
        <div class="contents-kr">
            우리는 관점을 디자인하고 만들어 가기 위해<br>
            탄생한 브랜드 입니다. 우리 삶에 영향을주고<br>
            있는 제품과 서비스의 본질에 집중합니다.
        </div>
    
        <div class="contents-arrow">
            <img class="arrow" src="/assets/images/arrow.png">
            <img class="arrow" src="/assets/images/arrow.png">
            <img class="arrow" src="/assets/images/arrow.png">
        </div>
    
        <div class="contents-en">
            Our sincerity is contained in exclamations. We created the<br>
            `oea` brand with the exclamation. "Oh", yeah" which<br>
            means heartfelt joym surprise and excitement.
        </div>
    
        <div class="contents-kr">
            우리의 진심은 감탄사에 담겨 있습니다.<br>
            우리는 진심이 담긴 기쁨과 놀라우므 설레임을<br>
            의미하는 "Oh, Yeah"라는 감탄사로 'oea'<br>
            브랜드를 만들었습니다.
        </div>
    
        <div class="contents-arrow">
            <img class="arrow" src="/assets/images/arrow.png">
            <img class="arrow" src="/assets/images/arrow.png">
            <img class="arrow" src="/assets/images/arrow.png">
        </div>
    
        <div class="contents-en">
            From curiosity to surprise.<br>
            From surprise to inspiration.
        </div>
        <div class="contents-kr">
            호기심에서 놀라움으로<br>
            놀라움에서 영감으로
        </div>
    </div>
</div>
<script src="{{ '/assets/js/' | relative_url }}common_init.js"></script>
