---
layout: default
---

<link rel="stylesheet" href="{{ '/assets/css/contact.css' | relative_url }}">

<div class="contact_contents">
    <div class="label">
        LOCATION
    </div>
    <div class="contents">
        30, Munhyeon-ro 265beon-gil, Mohyeon-eup,<br>
        Cheoin-gu, Yongin-si, Gyeonggi-do, <br>
        Republic of Korea <br><br>
    
        17032 경기도 용인시 처인구 모현읍 문현로 265번길 30
    </div>
    <hr>
    <div class="label">
        WORKING HOURS
    </div>

    <div class="contents">
        평일 09시 – 17시 (점심시간 : 12시 – 13시)
    </div>
    <hr>
    <div class="label">
        CONTACT
    </div>
    
    <div class="contents">
        +82-10-9671-5930 <br>
        oea@oea.world
    </div>

    {%- include circular_rotation_logo.html -%}
    
</div>
<script src="{{ '/assets/js/' | relative_url }}common_init.js"></script>