<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'ko' }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ '/assets/css/default.css' | relative_url }}">
    </head>
  <body class="default">
    <section class="left_section">
    </section>
    <section class="center_section">
      {{ content }}
    </section>
    <section class="right_section">
    </section>
    {%- include wide_basic_logo.html -%}
    {%- include wide_copy.html -%}
    {%- include wide_nav.html -%}
    {%- include wide_sns_link.html -%}
    {%- include narrow_nav_icon.html -%}
    {%- include narrow_nav_screen.html -%}
  </body>
  <script src="{{ '/assets/js/' | relative_url }}moblie_nav.js"></script>
</html>